<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="/static/Robinweatherall-Library-Books.ico" rel="icon">
        
        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>

        <title>Book Reviews: {% block title %}{% endblock %}</title>

    </head>
    <body>

        {% include "includes/_nav.html" %}
            
        <main class="container">
            {% block main %}{% endblock %}
        </main>

        <script>
          $(document).ready(function(){
            $('.sidenav').sidenav();
          });
        </script>
    </body>
</html>